<li class="list-group-item todo-item">
    <div class="todo-item__label">
      <input
        type="checkbox"
        (change)="updateTodo()"
        [(ngModel)]="todo.completed">
      <span
        *ngIf="!editMode"
        (dblclick)="editMode = true">{{ todo.text }}</span>
      <input
        *ngIf="editMode"
        (keyup)="editTodo($event)"
        [(ngModel)]="todo.text"
        type="text">
    </div>
    <div>
      <button
        (click)="deleteTodo($event, todo._id)"
        class="btn btn-danger">Delete
      </button>
    </div>
</li>
